@font-face {
    font-family: OpenSans-Regular;
    src: url(fonts/OpenSans-Regular.woff);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(fonts/OpenSans-Bold.woff);
}

* {
    margin: 0;
    padding: 0;
    font-family: OpenSans-Regular;
}

.link {
    text-decoration-line: none;
    color: #000000;
}

.link:visited {
    color: #0f0d0e;
}

.link:active {
    color: #b59f5b;
}

.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.window-background {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
    visibility: visible;
}

.your-feedback {
    margin-top: 28px;
}

.your-feedback-window {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 388px;
    max-height: 590px;
    text-align: center;
    padding: 47px 29px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
}

#chexkbox-window {
    position: fixed;
    opacity: 0;
}

.window-btn {
    position: fixed;
    width: 18px;
    top: calc(50% - 319px);
    right: calc(50% - 196px);
    z-index: 4;
    cursor: pointer;
}

#chexkbox-window:checked ~ .window-background,
#chexkbox-window:checked ~ .window-btn {
    display: none;
}

.form-your-feedback {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.field {
    box-sizing: border-box;
    border: 0;
    padding-left: 18px;
    padding-right: 18px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    height: 48px;
    width: 100%;
    background-color: #f4f7f6;
}

.field:focus {
    outline: none;
}

.your-feedback-field {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    padding-right: 80px;
    padding-bottom: 15px;
}

.radio-group:nth-child(3) {
    margin-left: 10px;
    margin-bottom: 10px;
}

.radio-group-text {
    font-size: 13px;
}

.radio-group-text::before {
    content: "";
    display: inline-flex;

    width: 20px;
    height: 20px;

    background-image: url("svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
}

.span-your-feedback {
    font-size: 13px;
    margin-bottom: 8px;
    text-align: left;
}

.radio-group-text::before {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 8px;
    cursor: pointer;
}

.radio-group {
    display: inline-block;
    flex-direction: row;
    font-size: 15px;
}

.radio:checked ~ .radio-group-text::before {
    background-image: url("svg/form-circle.svg");
}

.radio {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
}

.form-hint-field {
    min-width: 330px;
    min-height: 40px;
    max-width: 330px;
    max-height: 160px;
    height: 135px;
    padding: 12px 21px;
    font-size: 14px;
}

.header {
    display: flex;
    box-sizing: border-box;
    min-height: 450px;
    height: 100%;
    padding-top: 27px;
    color: #ffffff;
    background-color: #000000;
    position: relative;
    z-index: 2;

    text-transform: uppercase;
    margin-bottom: 55px;
}

.header:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background-image: url("img/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    opacity: .5;
}

.header-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 180px;
    margin-left: 17px;
}

#menu-toggle {
    display: none;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2px;
    padding-right: 14px;
}

.menu-list-item {
    list-style-type: none;
}

.menu-list-item:nth-child(n+2) {
    margin-left: 35px;
}

.menu-link {
    font-size: 13px;
    text-decoration-line: none;
    color: #ffffff;
}

.menu-link:visited {
    color: #ffffff;
    /* Цвет посещенных ссылок */
}

.menu-link:active {
    color: #b59f5b;
    /* Цвет активных ссылок */
}

.heading {
    font-family: OpenSans-Bold;
    font-size: 45px;
    line-height: 1.65;
    text-align: center;

    display: flex;
    align-items: center;
    flex: 1 1 auto;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

}

.solid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
}

.now-in-trend {
    display: flex;
    flex-direction: column;
}

.block-heading,
.block-heading-trend {
    display: flex;
    flex-direction: column;
    font-family: OpenSans-Bold;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #0f0d0e;
    z-index: 1;
}

.block-heading:after,
.block-heading-trend:after {
    content: "";
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    margin: 8px auto 28px;
}

.now-in-trend-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
}

.now-in-trend-block {
    font-family: OpenSans-Bold;
    text-transform: uppercase;
    box-sizing: border-box;
    width: 24.7%;
    height: 19.3vw;
    display: flex;
    background-color: #000000;
    position: relative;
    z-index: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.now-in-trend-block:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.5;
}

.now-in-trend-block:nth-child(1):before {
    background-image: url("img/trend1.jpg");
}

.now-in-trend-block:nth-child(2):before {
    background-image: url("img/trend2.jpg");
}

.now-in-trend-block:nth-child(3):before {
    background-image: url("img/trend3.jpg");
}

.now-in-trend-block:nth-child(4):before {
    background-image: url("img/trend4.jpg");
}

.now-in-trend-block-border {
    margin: 1.08vw 1.2vw;
    border: 3px solid rgb(181, 159, 91, 0.5);
    align-items: flex-end;
    padding: 1.8vw;
    z-index: 2;
}

.now-in-trend-tag {
    font-family: OpenSans-Bold;
    color: #b59f5b;
    font-size: 14px;
    line-height: 1;
}

.now-in-trend-tag:visited {
    color: #b59f5b;
}

.now-in-trend-name {
    margin-top: 4px;
    font-size: 20px;
    color: #ffffff;
}

.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    width: 780px;
    margin-bottom: 60px;
}

.news-preview {
    display: flex;
    width: 380px;
    height: 295px;
}

.news-img {
    width: 100%;
    height: 100%;
    margin-top: 6px;
    object-fit: cover;
}

.news-info {
    /*    box-sizing: border-box;*/
    width: 370px;
}

.item {}

.news-tag {
    font-family: OpenSans-Bold;
    color: #b59f5b;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 1;
}

.news-tag:visited {
    color: #b59f5b;
}

.news-tag-list {
    margin-bottom: 10px;
}

.news-tag-item {
    margin-right: 20px;
}

.news-name {
    font-family: OpenSans-Bold;
    color: #0f0d0e;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 1.2;
}

.news-date {
    font-size: 12px;
    color: #888888;
    margin-right: 8px;
}

.news-author {
    font-family: OpenSans-Bold;
    font-size: 12px;
    color: #000000;
}

.news-description {
    font-size: 15px;
    color: #0f0d0e;
    margin-top: 45px;
}

.right-bar-section:nth-child(n+2) {
    margin-top: 55px;
}

.right-bar {
    max-width: 271px;
}

.right-bar-heading {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-family: OpenSans-Bold;
    text-align: center;
    font-size: 14px;
    margin: 0;
}

.right-bar-heading:after {
    content: "";
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    margin: 12px auto 22px;
}

.right-bar-news {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 14px;
    justify-content: space-between;
}

.right-bar-preview {
    margin-top: 8px;
    width: 70px;
    height: 70px;

}

.right-bar-news-img {
    width: 100%;
    height: 100%;
    margin-top: 1px;
    object-fit: cover;
}

.right-bar-info {
    width: 182px;
}

.right-bar-news-name {
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
    font-family: OpenSans-Bold;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 58px;
    margin-top: 58px;
}

.search-group {
    width: 100%;
}



.button-search {
    box-sizing: border-box;
    height: 48px;
    width: 54px;
    border: none;
    cursor: pointer;
    background-color: #b59f5b;
    background-image: url("svg/search.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
}

.button-search-text {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.email {
    display: flex;
    flex-direction: column;
}

.button-subscribe {
    box-sizing: border-box;
    height: 48px;
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: #b59f5b;
    text-transform: uppercase;
    font-family: OpenSans-Bold;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    margin-top: 18px;
}

.tag-list {
    display: flex;
    flex-flow: row wrap;
}

.tag {
    list-style-type: none;
    text-transform: uppercase;
    font-family: OpenSans-Bold;
    font-size: 12px;
    border: 3px solid #eeeeee;
    padding: 4px 14px 4px 14px;
    margin: 0 6px 6px 0;
    color: #0f0d0e;
}

.right-bar-section-themes {
    margin-top: 49px;
}

.subject-list {
    list-style: none;
}

.subject {
    text-transform: capitalize;
    font-family: OpenSans-Bold;
    font-size: 14px;
    color: #000000;

}

.subject-line:after {
    content: "";
    margin: 12px auto 22px;
    width: 100%;
    height: 1px;
    background-color: #eeeeee;
    margin: 12px 0;
    display: flex;
}

.subject-quantity {
    color: #b59f5b;
    font-family: OpenSans-Bold;
    font-size: 12px;
    vertical-align: super;
}

.our-products-price-new {
    font-family: OpenSans-Bold;
    font-size: 20px;
}

.our-products {
    width: 100%;
}

.our-products-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 55px;
}

.our-products-block {
    display: flex;
    width: 350px;
    height: 440px;
/*    height: 100%;*/
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}

.our-products-img-box {
    display: flex;
    width: 300px;
    height: 204px;
    margin-left: auto;
    margin-right: auto;


}

.our-products-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.our-products-border {
    flex: 300px;
    margin-top: -32px;
    height: 265px;
    border: 3px solid rgb(181, 159, 91, 0.5);
    padding: 48px 20px 20px;
}

.our-products-heading {
    font-family: OpenSans-Bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
}

.our-products-paragraph {
    /*    font-family: OpenSans-Bold;*/
    font-size: 15px;
    line-height: 1.5;
}

.our-products-link {
    color: #b59f5b;
}

.our-products-link:visited {
    color: #b59f5b;
}

.our-products-button-price {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

.our-products-price {
    font-family: OpenSans-Bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 20px;
    padding-bottom: 9px;
}

.our-products-price-old {
    text-decoration: line-through;
    font-size: 14px;
}

.our-products-button {
    margin-top: 0;
    width: 140px;
    height: 48px;
}


.footer {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 12px;
    color: #999999;
    text-align: center;
    margin-bottom: 40px;
}

.articles-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83px;
    background-color: #f4f7f6;
    margin-bottom: 70px;
    margin-top: 11px;
}

.socials {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.socials-item {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}

.socials-link {
    display: flex;
    padding: 5px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.socials-link-twitter {
    background-image: url("svg/004-twitter.svg");
}

.socials-link-pinterest {
    background-image: url("svg/001-pinterest.svg");
}

.socials-link-facebook {
    background-image: url("svg/002-facebook-logo.svg");
}

.socials-link-instagram {
    background-image: url("svg/005-instagram.svg");
}

.socials-link-tumblr {
    background-image: url("svg/003-tumblr.svg");
}

.socials-link-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.window {
    display: flex;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 390px;
    max-height: 590px
}

.your-feedback-field {
    background-image: url(svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 10px;
    font-size: 13px;
    margin-bottom: 28px;
    cursor: pointer;
}

@media (max-width: 1199px) {

    #menu-toggle {
        opacity: 0;
    }

    #menu-toggle:checked ~ .menu-btn > span {
        transform: rotate(45deg);
    }

    #menu-toggle:checked ~ .menu-btn > span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu-toggle:checked ~ .menu-btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu-toggle:checked ~ .menu-list {
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        align-content: center;
    }

    .menu-btn {
        display: flex;
        align-items: center;
        position: absolute;

        top: 51px;
        right: 23px;

        width: 23px;
        height: 19px;

        cursor: pointer;
        z-index: 8;
    }

    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
        display: block;
        position: absolute;

        width: 100%;
        height: 3px;

        background-color: #ffffff;
    }

    .menu-btn > span::before {
        content: '';
        top: -8px;
    }

    .menu-btn > span::after {
        content: '';
        top: 8px;
    }

    .menu-list {
        display: none;
    }

    #menu-list:active > .menu-list {
        display: none;
        visibility: hidden;
    }

    .menu-list-item {
        padding: 15px;
        color: #b59f5b;
        font-size: 25px;
        font-weight: 600px;

    }

    .menu-list-item:nth-child(n+2) {
        margin-left: 0;
    }
}


@media (min-width: 641px) and (max-width: 1199px) {
    .window-btn {
        top: calc(50% + 5.725vw - 336px);
        width: 27px;
        height: 0;
    }

    .your-feedback-window {
        top: 11.45vw;
        right: 0;
        bottom: 0;
        left: 0;
        max-height: 598px;
    }

    .block-heading-trend,
    .block-heading {
        font-size: 18px;
    }

    .block-heading-trend:after {
        margin-bottom: 19px;
    }

    .radio-group-text::before {
        width: 26px;
        height: 26px;
        background-size: 26px;
    }

    .header:before {
        background-image: url("img/banner-bg-tablet.jpg");
    }

    .header {
        min-height: 390px;
        padding-top: 50px;
        margin-bottom: 6vw;
    }

    .header-container {
        max-width: 90.6vw;
    }

    .logo-menu {
        max-height: 25px;
    }

    .logo {
        margin-left: 0;
        width: 157px;
    }

    .heading {
        font-size: 40px;
        max-width: 90%;
        margin-bottom: 20px;
        line-height: 1.4;
    }

    .now-in-trend-blocks {
        margin-bottom: 42px;
    }

    .now-in-trend-block {
        width: 49.8%;
        height: 31.9vw;
        margin-bottom: .5vw;
    }

    .now-in-trend-block-border {
        margin: 0vw 2.6vw 1.4vw 1.2vw;
        padding: 1.4vw 4.1vw 4.1vw 4.1vw;
    }

    .now-in-trend-block-border-right {
        margin: 0vw 1.2vw 1.4vw 2.6vw;
        padding: 1.4vw 4.1vw 4.1vw 4.1vw;
    }

    .news-tag-list {
        margin-top: 16px;
        margin-bottom: 6px;
    }

    .now-in-trend-name {
        margin-top: 0;
        font-size: 16px;
    }

    .solid,
    .footer {
        width: 91.2vw;
    }

    .news {
        width: 54vw;
        margin-bottom: 32px;
    }

    .news::after {
        content: "";
        width: 51vw;
        height: 3px;
        background-color: #eeeeee;
        margin: 20px 0 0;
    }

    .news-preview {
        width: 51vw;
        height: 39.4vw;
    }

    .news-name {
        font-size: 17px;
        margin-bottom: 27px;
    }

    .news-info {
        width: 95%;
    }

    .news-description {
        margin-top: 28px;
    }

    .right-bar {
        width: 35.37vw;
    }

    .our-products-blocks {
        margin-bottom: 0;
    }

    .our-products-block {
        width: 44vw;
        margin-bottom: 28px;
    }

    .our-products-img-box {
        width: 28.85vw;
        height: 26.5vw;
    }
}

@media (max-width: 640px) {
    .window-btn {
        top: calc(50% + 5.725vw - 336px);
        width: 27px;
        height: 0;
    }

    .your-feedback-window {
        top: 11.45vw;
        right: 0;
        bottom: 0;
        left: 0;
        max-height: 598px;
    }

    .block-heading-trend,
    .block-heading {
        font-size: 18px;
    }

    .block-heading-trend:after {
        margin-bottom: 23px;
    }

    .radio-group-text::before {
        width: 26px;
        height: 26px;
        background-size: 26px;
    }

    .header:before {
        background-image: url("img/banner-mobile.jpg");
    }

    .header {
        min-height: 177.77vw;
        padding-top: 62.77vw;
        padding-bottom: 43.33vw;
        margin-bottom: 36px;
    }

    .header-container {
        /*        max-width: 90.6vw;*/
    }

    .logo-menu {
        max-height: 100px;
    }

    .logo {
        margin-left: auto;
        margin-right: auto;
        width: 270px;
    }

    .heading {
        font-size: 26px;
        max-width: 90%;
        line-height: 1.4;
    }

    .now-in-trend-blocks {
        margin-bottom: 42px;
    }

    .now-in-trend-block {
        width: 100%;
        height: 64.45vw;
        margin-bottom: 0.3vw;
    }

    .now-in-trend-block-border {
        margin: 0vw 3.8vw 3.9vw;
        padding: 2.7vw 6vw 7.6vw;
    }

    .news-tag-list {
        margin-top: 16px;
        margin-bottom: 6px;
    }

    .now-in-trend-name {
        margin-top: 0;
        font-size: 16px;
    }

    .solid,
    .footer {
        width: 91.2vw;
    }

    .news {
        width: 100%;
        margin-bottom: 32px;
    }

    .news::after {
        content: "";
        width: 100%;
        height: 3px;
        background-color: #eeeeee;
        margin: 20px auto 0;
    }

    .news-preview {
        width: 100%;
        height: 70vw;
    }

    .news-name {
        font-size: 17px;
        margin-bottom: 16px;
    }

    .news-info {
        width: 100%;
    }

    .news-description {
        margin-top: 14px;
    }

    .right-bar {
        max-width: 100%;
    }

    .right-bar-heading {
        font-size: 16px;
    }

    .right-bar-info {
        width: 66vw;
    }

    .search {
        margin-bottom: 30px;
    }

    .right-bar-section:nth-child(n+2) {
        margin-top: 40px;
    }

    .our-products-blocks {
        margin-bottom: 0;
    }

    .our-products-block {
        width: 100%;
        height: 136vw;
        margin-bottom: 60px;
    }

    .our-products-img-box {
        width: 79vw;
        height: 79vw;
